.side_columns {
    width: 200px;
    background-color:indianred;
}
.left_side_break_10px{
    display: block;
    margin: 10px 0;
    line-height: 10px;
}
.left_side_break_5px{
    display: block;
    margin: 5px 0;
    line-height: 5px;
}
.company_name {
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.side_columns_default_color{
    width: 200px;
}
.bottom_row{
    background-color: wheat;
    height: 200px;
}
.top_row{
    height: 160.5px;
}
.map-container {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.accordion {
    width: 200px;
}

.accordion-button, .accordion-body {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fixed_column{
    position:absolute;
    left: 50%;
    transform:translateX(-50%);
}