.company_name {
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left_side_break_10px{
    display: block;
    margin: 10px 0;
    line-height: 10px;
}
.left_side_break_5px{
    display: block;
    margin: 5px 0;
    line-height: 5px;
}
.welcome_header {
    font-size: medium;
    font-weight: bold;
}
.side_columns_default_color{
    width: 200px;
}
.top_row{
    height: 160.5px;
    overflow: hidden;
    display: flex;
}
.accordion {
    width: 200px;
    overflow: hidden;
}
.accordion-button, .accordion-body {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.side_columns {
    width: 200px;
    background-color:rgb(177, 228, 166);
}
.fixed_column{
    position:absolute;
    left: 50%;
    transform:translateX(-50%);
}
.bottom_row{
    background-color: indianred;
    height: 200px;
}
.product-card {
    margin-bottom: 20px;
}
.product-card img {
    max-width: 100%;
    height: auto;
}
.cart {
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}